.flex-box {
  display: flex;
  justify-content: center;
}

.box {
  border: 1px solid black;
  width: 400px;
}

.img-size {
  width: 400px;
  height: 400px;
}

.custom-button {
  text-align: center;
}
